{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title_block %}
    {{blog.blog_title}}
{% endblock%}

{% block body_block %}


<div class="row mt-3">
    <div class="col-sm-12 col-lg-6">
        <h1>{{blog.blog_title}}</h1>
        <strong>Posted By <i><a href="#">{{blog.author}}</a></i></strong>
        <br>
        <strong>Publish On : </strong> <span>{{blog.publish_date}}</span>
        <br>
        <strong>Update On: </strong> <span>{{blog.update_date}}</span>

    </div>
    <div class="col-sm-12 col-lg-6">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" title="{{blog.blog_title}}" width="100%">
    </div>
</div>
<div class="blog-content">
    <p>{{blog.blog_content|linebreaks}}</p>
</div>
<br>
<br>
<h3>Leave Your Comment : </h3>
<br>
<div class="comment-box">
    <form action="" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary btn-md float-end">Comment</button>
    </form>
</div>
<br>
<h3>All Comments : </h3>

<hr>

<div class="row">
    {% for comment in blog.blog_comment.all %}
    <div class="col-sm-12 col-lg-3">
        <strong>@{{comment.user}}</strong>
        <p>{{comment.comment_date}}</p>
    </div>

    <div class="col-sm-12 col-lg-9">
        <p>{{comment.comment|linebreaks}}</p>
    
   
    </div>
    <hr>
    {% endfor %}
</div>
    

<br><br><br>

    
{% endblock%}