{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
    Signup
{% endblock%}

{% block body_block %}
    <h1>Create New Account</h1>
    {% if registration %}
    <div class="alert alert-success">Account Created Successfully! <a href="{% url 'App_Login:login'%}">Login Here</a></div>
    {% else %}
    <form action="" method="post">
        {{form|crispy}}
        {% csrf_token %}
        <button class="btn btn-primary btn-sm" type="submit">Create Account</button>
    </form>
    <p>Already an account <a href="{% url 'App_Login:login'%}">Login Here</a></p>
    {% endif %}
{% endblock%}